.navbar {
   height: 70px;
   background-color: #000332;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.navbar-heading {
   font-size: 30px;
   font-weight: 600;
   padding: 10px;
   margin-left: 20px;
   color: white;
}

.navbar-carticon {
   padding: 10px;
   margin-right: 20px;
}

.navbar-carticon:hover {
   cursor: pointer;
   transition: .3s;
   transform: scale(1.05);
}

.link {
   text-decoration: none;
   color: white;
}