.cartItem {
   margin-bottom: 1rem;
   display: flex;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
   border-radius: 10px;
 }
 
 .cartItem-img {
   width: 250px;
   object-fit: contain;
   border-radius: 10px;
 }
 
 .cartItem-details {
   padding: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   color: var(--secondary-color);
 }
 
 .details-title {
   font-size: 1rem;
   font-weight: bold;
 }
 
 .details-desc {
   font-size: 0.8rem;
 }
 
 .details-price {
   font-size: 1rem;
   font-weight: bold;
 }
 
 .cartItem-actions {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   padding: 0.6rem;
 }
 
 .cartItem-Qty {
   display: flex;
   align-items: center;
 }
 
 .cartItem-Qty input {
   padding: 10px;
   margin-left: 0.4rem;
   width: 60px;
   border-radius: 10px;
   border: 1px solid black;
   outline: none;
 }
 
 .deleteItem {
   width: 50px;
   height: 50px;
   border: 1px solid;
   border-radius: 50%;
   cursor: pointer;
   transition: all ease-in-out 0.7s;
   outline: none;
 }
 
 .deleteItem:hover {
   transform: scale(1.2) rotate(360deg);
   background-color: rgb(209, 15, 15);
 }
 
